requests
torch
numpy
flask
gtts
pydub
speechrecognition
python-dotenv
openai
whisper
langchain-openai
langchain-community
pypdf
docarray
PyAudio
beautifulsoup4
youtube-transcript-api
python-magic
python-pptx
unstructured
python-docx
pandas
google-cloud-texttospeech
pygame
flask_mail
firebase_admin
flask_cors
langchain_chroma
"git+https://github.com/openai/whisper.git"